# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
.mvn/

# Credentials
application-enterprise-ldap.yml
application-test.yml

# CF Manifest file
manifest.yml
manifest-*.yml
